body {
  background-color: black;
  color:white;
  text-align: center;
  overflow-y: hidden;
}
img {
    margin-top: -100px;
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 100%;
  }
}
